.formLogin{
  width: 100%;
  height: 100vh;
  background-color: rgb(185, 185, 223);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formLogin form{
  width: 200px;
  height: 200px;
  border-radius: 2px solid;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formLogin form .formControl{
  width: 100%;
  height: 4em;
}


.formLogin form .formControl label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}


.formLogin form .formControl input{
  width: 100%;
  height: 2em;
  border-radius: 4px;
}



/* estilos del home */
.dashboardHome{
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
}


.dashboardHome .sidebar{
  width: 20%;
  height: 100vh;
  padding: 2em;
  font-size: 20px;
  background-color: black;
  color: white;
}

.dashboardHome .contenedor{
  width: 80%;
  height: 100vh;
  padding: 2em;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
}


/* Estilosd el usuario */
.contenedorUser{
  width: 100%;
  display: flex;
}